@media screen and (max-width: 1200px) {
    .banner .bannerRight {
        display: none;
    }
}

/* banner模块 */
.main {
    background-color: #F2F2F2;
}

.banner {
    display: block;
    width: 100%;
    height: 476px;
    background-color: #F91D25;
}

.banner .w {
    position: relative;
    height: 476px;
}

/* banenr 图 */
.bannerImgs {
    position: absolute;
    top: 0;
    left: 200px;
}

/* banner 图区域 */
.bannerFour {
    position: absolute;
    bottom: 5px;
    left: 204px;
    height: 112px;
    width: 786px;
}

.bannerFour ul {
    display: flex;
    justify-content: space-around;
}

.bannerFour li {
    border-radius: 6px;
    overflow: hidden;
}

.bannerFour a {
    display: block;
    width: 100%;
    height: 100%;
}

.bannerFour img {
    height: 112px;
    flex: 1;
}

.bannerRight {
    position: absolute;
    top: 0;
    left: 994px;
    width: 196px;
    height: 476px;
    background-color: #fff;
    pointer-events: auto
}

.topBox {
    height: 225px;
    width: 196px;
    position: relative;
}

.userImg {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 48px;
    height: 48px;
}

.userImg img {
    width: 100%;
    height: 100%;
}

.notLogin {
    width: 196px;
    height: 140px;
    overflow: hidden;
}

.btnGroup {
    position: absolute;
    top: 15px;
    right: 5px;
    line-height: 12px;
    font-size: 12px;
}

.btnGroup p {
    display: block;
    height: 22px;
}

.btnGroup p,
.btnGroup a,
.btnGroup i {
    color: #333;
}

.btnGroup a:hover {
    color: #f60;
}

.notLogin>a {
    display: block;
    width: 156px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 3px;
    font-size: 12px;
}

.notLogin>a:nth-child(2) {
    color: #fff;
    background-color: #ff8000;
    margin: 70px 20px 0 20px;
}

.notLogin>a:last-child {
    color: #fada99;
    background-color: #19145C;
    margin: 10px 20px 0 20px;
}

.threeEntry {
    height: 85px;
    width: 196px;
    color: #333;
    font-size: 14px;
    display: flex;
}

.threeEntry a {
    display: block;
    flex: 1;
    text-align: center;
}

.threeEntry a:hover {
    color: #f60;
}

.threeEntry img {
    width: 36px;
    height: 36px;
    display: block;
    margin: 6px auto;
}

.botBox {
    display: flex;
    width: 196px;
    height: 251px;
}

.botBox ul {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.botBox ul li {
    width: 33.33%;
}

.botBox ul li:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    margin-top: -3px;
}

.botBox img {
    display: block;
    width: 26px;
    height: 26px;
    margin: 12px auto;
}

.botBox a {
    color: #333;
    font-size: 14px;
}

.botBox ul li:hover a {
    color: #f60;
}

/* floatBar 浮动模块 */
.floatBar {
    position: fixed;
    top: 50%;
    left: 90px;
    margin-top: -106px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    width: 70px;
    height: 212px;
    padding-top: 9px;
    font-size: 12px;
    color: #333;
}

.floatBar li {
    width: 68px;
    height: 29px;
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
}

.floatBar li.active {
    color: #fff;
    background-color: #f60;
}

.floatBar a {
    display: block;
    width: 68px;
    height: 28px;
    line-height: 28px;
    text-align: center;
}

.floatBar a:hover {
    color: #f60;
}

.floatBar a:nth-child(2) {
    color: #f60;
}

/* 推荐模块 */
.recoms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recom {
    width: 590px;
    background-color: #fff;
    border-radius: 12px;
    margin-top: 10px;
}

.recom p {
    display: inline-block;
    height: 60px;
    font-size: 24px;
    color: #333;
    font-weight: bold;
    text-align: start;
    padding: 10px 0 0 16px;
}

.recom p:hover {
    cursor: pointer;
    color: #f60;
}

.recom>div {
    display: flex;
}

.recom>div div {
    padding: 0 10px;
}

.recom>div div:hover {
    cursor: pointer;
}

.recom>div div:hover h1 {
    color: #f60;
}

.recom>div h1 {
    font-size: 14px;
    color: #333;
    font-weight: normal;
    display: block;
    overflow: hidden;
    height: 20px;
    line-height: 20px;
}

.recom>div h2 {
    font-size: 12px;
    color: #999;
    font-weight: normal;
    margin: 4px;
}

.recom img {
    display: block;
    width: 150px;
    margin: 0 auto 10px;
}

.recom>div h2 i:first-child {
    color: #f30;
    font-weight: bold;
}

.recom>div h2 em:nth-child(2) {
    color: #f30;
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
}

.recom>div h2 i:nth-child(3),
.recom>div h2 em:last-child {
    text-decoration: line-through;
}